html {
  height: 100%;
}
body {
  margin: 0;
  display: block;
  background: linear-gradient(to right, #e9dcf7, #BFD7FF);
  height: 100%;
}
h1 {
  margin: auto;
}
#input {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
.text {
  margin: 50px;
  display:grid;
  text-align: center;
}
textarea {
  padding: 0;
  border: 0;
  font-size: 27px;
}
.but {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
button {
  font-size: 35px;
  border-radius: 20px;
}
button:hover {
  background: none;
  border: 1;
}
a {
  font-size: 30px;
  text-decoration: none;
  color: red;
  margin: 100px;
}
table {
  margin: 0px auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.changing {
  margin-left: 10%;
  margin-right: 10%;
}